@page
@model MyApp.Web.Pages.Games.AddModel

<link rel="stylesheet" href="~/css/Add_Game.css" asp-append-version="true" />

<div class="AddGamePage">

    <div class="AddGame-header">
        <div class="AddGame-title">
            @(Model.Exists.Id > 0 ? "Edit Game" : "Add a new game")
        </div>
    </div>

    <form class="AddGame-form" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Exists.Id" />

        <div class="AddGame-left">

            <div asp-validation-summary="ModelOnly" class="AddGame-hint"></div>

            <div class="AddGame-group">
                <label asp-for="Input.Name">Game Title</label>
                <input asp-for="Input.Name" class="AddGame-input" />
            </div>

            <div class="AddGame-group">
                <label asp-for="Input.Description">Description</label>
                <textarea asp-for="Input.Description"
                          rows="2"
                          class="AddGame-textarea"></textarea>
            </div>

            <div class="AddGame-group">
                <label asp-for="Input.Category">Category</label>
                <input asp-for="Input.Category"
                       list="categoryList"
                       class="AddGame-input" />

                <datalist id="categoryList">
                    @foreach (var item in Model.CategoryOptions)
                    {
                        <option value="@item.Value"></option>
                    }
                </datalist>
            </div>

            <div class="AddGame-group">
                <label for="fileInput" class="AddGame-image-clickarea">
                    <img src="~/uploads/Pictures/Upload.png" />
                </label>
                <input asp-for="Input.Picture"
                       id="fileInput"
                       type="file"
                       accept="image/*"
                       hidden />
            </div>

            <div class="AddGame-buttons">
                <button type="submit" class="btn-edit">
                    @(Model.Exists.Id > 0 ? "Update Game" : "Submit Game")
                </button>

                @if (Model.Exists.Id > 0)
                {
                    <button type="submit"
                            class="btn-delete"
                            formaction="?handler=Delete">
                        <img src="~/uploads/Pictures/Delete.png" />
                    </button>
                }
            </div>

        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
