@page
@model MyApp.Web.Pages.Games.AddModel
@{
    ViewData["Title"] = "Add Game";
}

<link rel="stylesheet" href="~/css/Add_Game.css">

<div class="AddGame-page">
    <div class="AddGame-header">
        <div class="AddGame-title">Add a new game</div>
    </div>

    <form class="AddGame-form" method="post" enctype="multipart/form-data">

        <div class="AddGame-left">

            <div asp-validation-summary="ModelOnly" class="AddGame-hint"></div>

            <div class="AddGame-group">
                <label asp-for="Input.Title">Game Title</label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="AddGame-hint"></span>
            </div>

            <div class="AddGame-group">
                <label asp-for="Input.Description">Description</label>
                <textarea asp-for="Input.Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Input.Description" class="AddGame-hint"></span>
            </div>

            <div class="AddGame-group">
                <label asp-for="Input.Category">Category</label>
                <input asp-for="Input.Category" class="form-control" />
                <span asp-validation-for="Input.Category" class="AddGame-hint"></span>
            </div>

            <div class="AddGame-group AddGame-image-container">
                <label for="fileInput" class="AddGame-image-clickarea">
                    <img src="~/uploads/Pictures/Upload.png" alt="Upload" />
                </label>

                <input asp-for="Input.Picture" id="fileInput" type="file" accept="image/*" hidden />

                <span asp-validation-for="Input.Picture" class="AddGame-hint"></span>
            </div>

            <div class="AddGame-buttons">
                <button type="submit" class="btn btn-primary">Submit Game</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}