.Nav-bar {
    background-color: #37353E;
    display: flex;
    align-items: center;
    padding: 0.75rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: top 0.3s ease;
}

.Nav-left,
.Nav-center,
.Nav-right {
    display: flex;
    align-items: center;
}

.Nav-left {
    flex: 0 0 auto;
}

.Nav-left,
.Nav-right {
    flex: 0 0 auto;
}

.Nav-center {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    gap: 4rem;
}





.Nav-right {
    margin-left: auto;
    flex: 0 0 auto;
}

.Nav-logo {
    height: 40px;
}

.Nav-brand {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
}

    .Nav-brand:hover {
        text-decoration: none;
        transform: scale(1.05);
        transition: 0.2s ease;
    }

.Nav-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #D3DAD9;
    letter-spacing: 1px;
}

.Nav-link {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: 0.2s ease;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.05rem;
}

    .Nav-link:hover {
        color: white;
        text-decoration: none;
        transform: scale(1.12);
    }

    .Nav-link.active {
        border-bottom: 2px solid #D3DAD9;
        font-size: 1.1rem;
        text-decoration: none;
        transform: scale(1.12);
    }

.Nav-account {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    color: #D3DAD9;
    transition: transform 0.2s ease;
}

    .Nav-account:hover {
        transform: scale(1.12);
        text-decoration: none;
        color: #D3DAD9;
    }

.Nav-accountName {
    color: #D3DAD9;
    font-weight: 800;
    text-decoration: none;
}

.Nav-accountIcon {
    height: 36px;
}

.Layout-background {
    background-color: #181C14;
    min-height: 100vh;
    width: 100%;
    padding-top: 80px;
    overflow: auto;
}

.Layout-footer {
    width: 100%;
    background: #000000;
    padding: 1.2rem 0;
    margin-top: 2rem;
}

.Layout-footer-content {
    text-align: center;
    color: #D3DAD9;
    font-size: 0.9rem;
    opacity: 0.85;
}
